$grid-columns : 12 !default;


$primary: #ba9764 !default;

$paragraph: #575756;

$secondary: #efefef;

$black: #000025;

$pure-black: #000000;

$white: #ffffff;

$border-light: #E2E2E2;

$box-border: #ced4da;

$smoke:rgba(255, 255, 255, 0.9);

$disable: #ACACAC;

$placeholder: #8F969A;

$checkbox: #929598;

$checkbox-bg: #D1362F;
