/* custom main 
 UnExpected King Tirth Shah */ 
 
 @import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: initial;
  outline: none;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

html,
body,
div,
span,
section,
p,
a,
img,
ol,
ul,
li,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
select,
input,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd option {
  padding: 0;
  margin: 0;
  border: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ol,
ul {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: auto;
  line-height: 1.6;
  background-color: var(--color-white);
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
  display: inline-block;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
/*flex cross browser mixin*/
/*
0px - 360px:		XS Phone
360px - 576px: 		Phone
576px - 768px: 		Tablet Portrait
768px - 992px:		Tablet Landscape
992px - 1200px: 	desktop
1200px - 1920px:	normal Media queries
1920px and up:  	Full HD


// 1em = 16px

	 359   =  	22.438em	
	 576   =  	36em
	 768   =	48em
	 992   =	62em
	 1200  =	75em
	 1366  =	85.375em
	 1400  =	87.5em
	 1537  =	96.063em
	 1560  =	97.5em
	 1600  =	100em
	 1680  =	105em
	 1920  =	120em
*/
@media (min-width: 412px) {
  @supports (display: grid) {
    .grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 15px 15px;
    }
  }
  .grid__items.grid1 {
    grid-row: 4/4;
  }
  .grid__items.grid2 {
    grid-column: 1/1;
  }
}
@media (min-width: 576px) {
  @supports (display: grid) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px 15px;
    }
  }
  .grid__items.grid1 {
    grid-row: 2/4;
  }
  .grid__items.grid2 {
    grid-column: 1/3;
  }
}
@media (min-width: 768px) {
  @supports (display: grid) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px 15px;
    }
  }
  .grid__items.grid1 {
    grid-row: 1/4;
  }
  .grid__items.grid2 {
    grid-column: 2/3;
  }
}
@media (min-width: 992px) {
  @supports (display: grid) {
    .grid {
      display: grid;
      grid-template-columns: 320px 1fr 1fr;
      grid-gap: 15px 15px;
    }
  }
  .grid__items.grid1 {
    grid-row: 1/3;
  }
  .grid__items.grid2 {
    grid-column: 2/4;
  }
}
@media (min-width: 1200px) {
  @supports (display: grid) {
    .grid {
      display: grid;
      grid-template-columns: 380px 1fr 1fr;
      grid-gap: 30px 30px;
    }
  }
}

:root {
  font-family: "Montserrat", sans-serif;
  --color-primary:#ba9764;
  --color-secondary:#efefef;
  --color-paragraph:#575756;
  --color-black:#000025;
  --color-pure-black:#000000;
  --color-white:#ffffff;
  --color-smoke:rgba(255, 255, 255, 0.9);
  --color-border-light:#E2E2E2;
  --color-box-border:#ced4da;
  --color-disable:#ACACAC;
  --color-placeholder:#8F969A;
  --color-checkbox:#929598;
  --color-checkbox-bg:#D1362F;
  --color-primary-100:#ba9764;
  --grid-width:1400px;
  --gutter-gap:1.25rem;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}
body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
body::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}
body::-webkit-scrollbar-track {
  background: #ececec;
}
body {
  scrollbar-face-color: var(--color-primary);
  scrollbar-track-color: #ececec;
}

.container {
  width: 100%;
  margin: auto;
}
@media (min-width: 576px) {
  .container {
    -webkit-padding-start: 0.9375rem;
            padding-inline-start: 0.9375rem;
    -webkit-padding-end: 0.9375rem;
            padding-inline-end: 0.9375rem;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 48rem;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 64rem;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 73.125rem;
  }
}

.link {
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: var(--color-primary);
  text-decoration: underline;
}

.mt-32 {
  margin-top: 2rem;
}

.mb-30 {
  margin-bottom: 1.875rem;
}

.pb-30 {
  padding-bottom: 1.875rem;
}

button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.img-white {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

a {
  text-decoration: none;
}

.bg-white {
  background-color: var(--color-white);
}

.bg-transparent {
  background-color: transparent;
}

.pt-4 {
  padding-top: 2.75rem;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-nowrap {
  -ms-flex-wrap: none;
  flex-wrap: nowrap;
}

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.h-auto {
  height: auto !important;
}

.mb-3 {
  margin-bottom: 1.25rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  padding: 0 35px;
}

.text-underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.datepicker + p {
  display: none;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}
main::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
main::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}
main::-webkit-scrollbar-track {
  background: #ececec;
}
main {
  scrollbar-face-color: var(--color-primary);
  scrollbar-track-color: #ececec;
}
main .wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .wrapper .main-content {
  width: 100%;
  height: 100%;
  padding: 30px 0;
  position: relative;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}
main .wrapper .main-content::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
main .wrapper .main-content::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}
main .wrapper .main-content::-webkit-scrollbar-track {
  background: #ececec;
}
main .wrapper .main-content {
  scrollbar-face-color: var(--color-primary);
  scrollbar-track-color: #ececec;
}
main .wrapper .main-content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content {
  padding: 0 15px;
}
@media (min-width: 576px) {
  .content {
    padding: 0;
  }
}
.content:not(:last-child) {
  margin-bottom: 1.875rem;
}

.text-primary {
  color: var(--color-primary);
}

.main-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.875rem;
  position: relative;
}
.main-heading h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 1.75rem;
  line-height: 2.375rem;
  color: var(--color-primary);
  font-weight: 500;
  position: relative;
  padding-bottom: 0.9375rem;
  text-transform: uppercase;
}
.main-heading h2 span {
  color: var(--color-white);
  text-shadow: -1px 1px 0 var(--color-primary), 1px 1px 0 var(--color-primary), 1px -1px 0 var(--color-primary), -1px -1px 0 var(--color-primary);
}
.main-heading h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 0.15625rem;
  background-color: var(--color-primary);
  left: 0;
  right: 0;
  margin: auto;
}
.main-heading p {
  margin-top: 1.25rem;
}

.secondary-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1.25rem;
  position: relative;
}
.secondary-heading h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 1.25rem;
  color: var(--color-primary);
  font-weight: 500;
  position: relative;
  padding-bottom: 0.625rem;
  text-transform: uppercase;
}
.secondary-heading h3 span {
  color: var(--color-white);
  text-shadow: -1px 1px 0 var(--color-primary), 1px 1px 0 var(--color-primary), 1px -1px 0 var(--color-primary), -1px -1px 0 var(--color-primary);
}
.secondary-heading h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 0.15625rem;
  background-color: var(--color-primary);
  left: 0;
  right: 0;
  margin: auto;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-paragraph);
}
p:not(:last-child) {
  margin-bottom: 1.25rem;
}

ol {
  list-style-type: decimal;
  padding-left: 1.25rem;
}
ol li {
  font-size: 1rem;
  color: var(--color-paragraph);
}
ol li:not(:last-child) {
  margin-bottom: 0.625rem;
}

.login {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--color-primary);
}
.login__wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 576px) {
  .login__wrapper {
    padding: 0 15px;
  }
}
.login__wrapper .form {
  max-width: 31.25rem;
  width: 100%;
  background-color: var(--color-white);
  padding: 30px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.login__wrapper .form .logo {
  width: 100%;
  margin-bottom: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.login__wrapper .form .logo img {
  height: 1.875rem;
}
@media (min-width: 576px) {
  .login__wrapper .form .logo {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 576px) {
  .login__wrapper .form {
    padding: 50px 30px;
  }
}

.step-form {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.step-form .form {
  max-width: 40.625rem;
  width: 100%;
  padding: 30px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.05), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.05), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
@media (min-width: 576px) {
  .step-form .form {
    padding: 50px 30px;
  }
}

.allData {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin-bottom: 3.125rem;
}
.allData .steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}
.allData .steps:not(:last-child) {
  margin-bottom: 1.875rem;
}
.allData .steps .title-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  padding: 5px 0;
}
.allData .steps .title-btn .title {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-primary);
}
.allData .steps .title-btn .edit-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.allData .steps ul {
  counter-reset: form-data;
  margin-top: 0.9375rem;
}
.allData .steps ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.allData .steps ul li:not(:last-child) {
  margin-bottom: 0.625rem;
}
.allData .steps ul li::before {
  counter-increment: form-data;
  content: counter(form-data) ". ";
  margin-right: 0.625rem;
}
.allData .steps ul li > span {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

header {
  padding: 15px;
  border-bottom: 1px solid var(--color-box-border);
}
@media (min-width: 576px) {
  header {
    padding: 15px 0;
  }
}
header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
header .logo img {
  max-height: 1.875rem;
}
@media (max-width: 576px) {
  header .logo img {
    max-width: 7.5rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

footer {
  background-color: var(--color-secondary);
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
footer .footer-content {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px;
}
footer .footer-content > img {
  display: none;
}
footer .footer-content .btn span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer-content .btn svg {
  stroke: var(--color-white);
}
footer .footer-content .btn:is(:hover, :focus) svg {
  stroke: var(--color-primary);
}
footer .footer-content p {
  font-size: 0.75rem;
}
@media (min-width: 576px) {
  footer .footer-content {
    padding: 0;
  }
  footer .footer-content > img {
    display: block;
    height: 1.25rem;
  }
}

.hasDropdown {
  position: relative;
}
.hasDropdown .dropdown {
  display: none;
  position: absolute;
  left: 0;
  background-color: var(--color-white);
  opacity: 0;
  top: 0;
  visibility: hidden;
  z-index: 1;
  width: 12.5rem;
  -webkit-box-shadow: 0px 5px 2.5px rgba(0, 0, 1, 0.2);
  box-shadow: 0px 5px 2.5px rgba(0, 0, 1, 0.2);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.hasDropdown .dropdown ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-block: 0.625rem;
  gap: 0rem;
}
.hasDropdown .dropdown ul li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.hasDropdown .dropdown ul li a {
  font-size: 1.25rem;
  font-family: "SSPro-regular";
  color: var(--color-black);
  width: 100%;
  padding-block: 0.375rem;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hasDropdown .dropdown ul li a::after {
  display: none;
}
.hasDropdown .dropdown ul li a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: var(--color-secondary);
}
.hasDropdown .dropdown.open {
  display: block;
  opacity: 1;
  visibility: visible;
  top: 5.3125rem;
}

.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  left: 0;
  right: 0;
  width: 100% !important;
  display: none;
  background-color: var(--color-white);
  border: 1px solid #CECBCB;
  border-radius: 5px;
  z-index: 1;
  margin-top: 2px;
  overflow: hidden;
}
.dropdown-menu .dropdown-item {
  position: relative;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 0.8125rem;
  color: #2A374E;
}
.dropdown-menu .dropdown-item:not(:last-child) {
  border-bottom: 1px solid #E9ECEE;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #FAF3F3;
  font-weight: 600;
}
.dropdown-menu .dropdown-item.selected {
  background-color: #FAF3F3;
  font-weight: 600;
}
.dropdown-menu .dropdown-item.selected::after {
  content: "";
  position: absolute;
  right: 10px;
  width: 5px;
  height: 9px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid var(--color-primary);
  border-right: 2px solid var(--color-primary);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn {
  height: 45px;
  padding: 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
}
.btn.btn-primary {
  border: 0;
  color: var(--color-white);
  position: relative;
  overflow: hidden;
}
.btn.btn-primary span {
  position: relative;
  color: var(--color-white);
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn.btn-primary span .icon svg {
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn.btn-primary:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--color-primary);
  color: var(--color-white);
  left: 0;
  bottom: 0;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 1;
}
.btn.btn-primary::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid var(--color-primary);
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.btn.btn-primary:hover span {
  color: var(--color-primary);
}
.btn.btn-primary:hover span .icon svg path {
  stroke: var(--color-primary);
}
.btn.btn-primary:hover:before {
  width: 0;
  color: var(--color-white);
}
.btn:disabled {
  pointer-events: none;
}
.btn:disabled span {
  color: var(--color-secondary);
}
.btn:disabled::before {
  background-color: var(--color-disable);
  border-color: var(--color-disable);
  color: var(--color-primary);
}
.btn:disabled::after {
  border-color: var(--color-disable);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
input:-webkit-autofill ~ .form-label,
input:-webkit-autofill:hover ~ .form-label,
input:-webkit-autofill:focus ~ .form-label,
input:-webkit-autofill:active ~ .form-label {
  top: -0.75rem;
  left: 1rem;
  z-index: 5;
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--color-primary);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.form hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5625rem;
  border: 1px solid #f1f1f1;
}
.form .two-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.form .two-input .form-control {
  margin-bottom: 1.5625rem;
}
@media (max-width: 576px) {
  .form .two-input {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 1.5625rem;
  }
  .form .two-input .form-control {
    margin-bottom: 0;
  }
  .form .two-input .form-control:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
.form-control {
  position: relative;
  width: 100%;
  min-height: 3rem;
}
.form-control:not(:last-child) {
  margin-bottom: 1.5625rem;
}
.form-control .error {
  font-size: 12px;
  color: red;
}
.form-control .input-group-btn {
  padding-left: 0.625rem;
}
.form-control .input-group-btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form-control .input-group-btn button svg {
  stroke: red;
}
.form-control .ui-selectmenu-button.ui-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  text-align: unset;
}
.form-control .ui-selectmenu-button.ui-button:hover {
  border-width: 2px;
  background-color: transparent;
}
.form-control .ui-selectmenu-button.ui-button > * {
  float: none !important;
}
.form-control .ui-selectmenu-button.ui-button > *:not(:first-child) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.form .cloneDiv {
  margin-bottom: 1.5625rem;
}
.form-label {
  position: absolute;
  z-index: -1;
  font-size: 1rem;
  font-weight: 400;
  left: 1rem;
  top: 0.625rem;
  padding: 0 6px;
  color: var(--color-paragraph);
  background: var(--color-white);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form-input,
.form .ui-selectmenu-button {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  z-index: 1;
  resize: none;
  width: 100%;
  height: 3rem;
  padding: 0 18px;
  border-radius: 0.375rem;
  border: 2px solid var(--color-box-border);
  color: var(--color-black);
  background: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.form-input::-webkit-input-placeholder, .form .ui-selectmenu-button::-webkit-input-placeholder {
  opacity: 0;
  visibility: hidden;
  color: transparent;
}
.form-input::-moz-placeholder, .form .ui-selectmenu-button::-moz-placeholder {
  opacity: 0;
  visibility: hidden;
  color: transparent;
}
.form-input:-ms-input-placeholder, .form .ui-selectmenu-button:-ms-input-placeholder {
  opacity: 0;
  visibility: hidden;
  color: transparent;
}
.form-input::-ms-input-placeholder, .form .ui-selectmenu-button::-ms-input-placeholder {
  opacity: 0;
  visibility: hidden;
  color: transparent;
}
.form-input::placeholder,
.form .ui-selectmenu-button::placeholder {
  opacity: 0;
  visibility: hidden;
  color: transparent;
}
.form-input:focus,
.form .ui-selectmenu-button:focus {
  outline: none;
  border: 2px solid var(--color-primary);
}
.form-input:focus ~ .form-label,
.form .ui-selectmenu-button:focus ~ .form-label {
  top: -0.75rem;
  left: 1rem;
  z-index: 5;
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--color-primary);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.form-input:not(:-moz-placeholder-shown).form-input:not(:focus) ~ .form-label, .form .ui-selectmenu-button:not(:-moz-placeholder-shown).form-input:not(:focus) ~ .form-label {
  top: -0.75rem;
  left: 1rem;
  z-index: 9;
  font-size: 0.875rem;
  font-weight: 500;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.form-input:not(:-ms-input-placeholder).form-input:not(:focus) ~ .form-label, .form .ui-selectmenu-button:not(:-ms-input-placeholder).form-input:not(:focus) ~ .form-label {
  top: -0.75rem;
  left: 1rem;
  z-index: 9;
  font-size: 0.875rem;
  font-weight: 500;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.form-input:not(:placeholder-shown).form-input:not(:focus) ~ .form-label,
.form .ui-selectmenu-button:not(:placeholder-shown).form-input:not(:focus) ~ .form-label {
  top: -0.75rem;
  left: 1rem;
  z-index: 9;
  font-size: 0.875rem;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.ui-selectmenu-menu ul {
  max-height: 15.625rem;
}

.checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.checkbox input:checked + label::before {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.checkbox input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 7px;
  width: 5px;
  height: 9px;
  border: solid var(--color-white);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.checkbox label {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0 !important;
  padding-left: 30px;
  color: var(--color-black);
  font-size: 1.125rem;
}
.checkbox label:before {
  content: "";
  -webkit-appearance: none;
  background-color: var(--color-white);
  border: 1px solid var(--color-checkbox);
  width: 18px;
  height: 18px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 5px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 6px;
}
.checkbox label a {
  color: var(--color-black);
  text-decoration: underline;
  margin: 0 0 0 5px;
}

.radio-button {
  position: relative;
}
.radio-button > input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.radio-button > input:checked + label:after {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
.radio-button > input:checked + label:before {
  border-color: var(--color-checkbox-bg);
}
.radio-button > input:checked + label + .contents {
  padding-top: 15px;
  opacity: 1;
  visibility: visible;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.radio-button label {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0 !important;
  padding-left: 2.5rem;
  color: #000025;
  font-size: 1.125rem;
  font-weight: 500;
}
.radio-button label:before {
  content: "";
  border: 1px solid var(--color-checkbox);
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  left: 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 10px;
}
.radio-button label::after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 4px;
  border-radius: 50%;
  background-color: var(--color-primary);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.toggle {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.toggle input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.toggle input[type=checkbox]:checked + label:before {
  background-color: var(--color-white);
  border-color: var(--color-primary);
  -webkit-box-shadow: inset 30px 0 0 var(--color-primary);
          box-shadow: inset 30px 0 0 var(--color-primary);
}
.toggle label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.toggle label span {
  font-size: 1rem;
  padding-left: 0.625rem;
  color: var(--color-paragraph);
}
.toggle label:before {
  content: "";
  width: 60px;
  height: 30px;
  background: var(--color-disable);
  border: 2px solid var(--color-box-border);
  -webkit-box-shadow: inset -28px 0 0 var(--color-white);
          box-shadow: inset -28px 0 0 var(--color-white);
  position: relative;
  display: inline-block;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
/*# sourceMappingURL=main.css.map */