@use "../utils" as *;

.checkbox {
	input {
		padding: 0;
		height: initial;
		width: initial;
		margin-bottom: 0;
		display: none;
		cursor: pointer;
		&:checked {
			+ {
				label {
					&::before {
						background-color: var(--color-primary);
						border-color: var(--color-primary);
					}
					&:after {
						content: '';
						display: block;
						position: absolute;
						top: 8px;
						left: 7px;
						width: 5px;
						height: 9px;
						border: solid var(--color-white);
						border-width: 0 2px 2px 0;
						transform: rotate(45deg);
					}
				}
			}
		}
	}
	label {
		position: relative;
		cursor: pointer;
		@include flexbox();
		@include align-items($value: center);
		@include flex-wrap($value: wrap);
        margin-bottom: 0 !important;
		padding-left: 30px;
		color: var(--color-black);
		@include toRem(font-size, 18);
		&:before {
			content: '';
			-webkit-appearance: none;
			background-color: var(--color-white);
			border: 1px solid var(--color-checkbox);
			width: 18px;
            height: 18px;
			display: inline-block;
			position: absolute;
			left: 0;
			top: 5px;
			vertical-align: middle;
			cursor: pointer;
            @include border-radius(6px);
		}
		a {
			color: var(--color-black);
			text-decoration: underline;
			margin: 0 0 0 5px;
		}
	}
}
